/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 980px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

#dropdown-menu > ul > li > ul > li > a {
  color: #333333;
}

.divider {
  border-bottom: 2px solid rgba(94, 94, 94, 0.65);
}



/*
 * Main content
 */

.main {
  padding: 20px;

}

.main > p {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgba(25, 29, 67, 0.76);

}

.main > div:hover iframe {
  box-shadow: 0 0 10px 2px rgba(36, 121, 199, 0.68);
}

.main > div h2 {
  margin-bottom: 5%;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.task > a {
  color: rgba(236, 124, 38, 0.88);
  text-shadow: 1px 1px 1px lightblue;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}