{% extends 'educportal/base.html' %}
{% load staticfiles %}
{% block header %}
    {{ block.super }}
    <title>Test computer_network_page</title>
{% endblock %}
{% block header_menu %}
    {{ block.super }}
{% endblock %}
{% block content %}
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="dropdown-menu" >
            <ul class="nav nav-sidebar">
                <li><a href="#">Компьютерные сети<span class="caret"></span></a>
                    <ul class="nav nav-sidebar " style=" padding-left: 20px">
                          <li><a href="{% url 'video_list_general_info' %}">Общие сведения о компьютерных сетях</a></li>
                          <li><a href="{% url 'video_list_physical_layer' %}">Физический уровень</a></li>
                    </ul>
                </li>
            <li><a href="http://bootstrap-3.ru/examples/dashboard/">Раздел_6_скрытый</a></li>
            <li><a href="http://bootstrap-3.ru/examples/dashboard/">Раздел_7_скрытый</a></li>
            <li><a href="http://bootstrap-3.ru/examples/dashboard/">Раздел_8_скрытый</a></li>
            <li><a href="http://bootstrap-3.ru/examples/dashboard/">Раздел_9_скрытый</a></li>
            <li><a href="http://bootstrap-3.ru/examples/dashboard/">Раздел_10_скрытый</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

             <ul class="nav nav-sidebar " style=" padding-left: 20px">
                 <li><a href="https://youtu.be/Y4LK1OZ54h0">Лекция “Классификация сетей”</a></li>
                 <li><a href="https://youtu.be/1dWCwQpqydU">Лекция “Стандарты компьютерных сетей”</a></li>
                 <li><a href="https://youtu.be/EPvxn9KvBvs"> Лекция “Основы организации компьютерных сетей”</a></li>
                 <li><a href="https://youtu.be/Tt8BTkxz_Vc"> Лекция “Модель OSI”</a></li>
                 <li><a href="https://youtu.be/UZo4ffQ-aAc"> Лекция “Модель и стек протоколов TCP/IP”</a></li>
                 <li><a href="https://youtu.be/Cc5wi1bxmpc"> Практика “Анализатор сети Wireshark”</a></li>
             </ul>
        </div>
      </div>
</div>
    {% endblock %}
{% block scripts %}
            {{ block.super }}
            <script src="{% static "educportal/js/dropdown_menu.js" %}"></script>
{% endblock %}
