{% extends 'educportal/profile_page.html' %}
{% load widget_tweaks %}
{% load staticfiles %}
{% block header %}
    {{ block.super }}
{% endblock %}
{% block header_menu %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
    <div class="row profile">
        {% block leftsidebar %}
            {{ block.super }}
        {% endblock %}
        {% block contentinfo %}
            <div class="col-md-9">
                <div class="profile-content">
                        <form class="form-horizontal" method="post" id="changeUserPassword-form" novalidate>
                            {% csrf_token %}
                            <div class="form-group {% if form.old_password.errors  %}has-error{% endif %}">
                                <label class="control-label col-xs-3">{{ form.old_password.label_tag }}</label>
                                <div class="col-xs-9">
                                    {{ form.old_password|add_class:'form-control'|append_attr:'placeholder:Введите старый пароль' }}
                                    {% if form.old_password.errors %}
                                    <p class="text-danger">{{ form.old_password.errors.as_text }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group {% if form.new_password1.errors  %}has-error{% endif %}">
                                <label class="control-label col-xs-3">{{ form.new_password1.label_tag }}</label>
                                <div class="col-xs-9">
                                {{ form.new_password1|add_class:'form-control'|append_attr:'placeholder:Введите новый пароль' }}
                                {% if form.new_password1.errors %}
                                <p class="text-danger">{{ form.new_password1.errors.as_text }}</p>
                                {% endif %}
                                </div>
                            </div>
                            <div class="form-group {% if form.new_password2.errors  %}has-error{% endif %}">
                                <label class="control-label col-xs-3 text-left">{{ form.new_password2.label_tag }}</label>
                                <div class="col-xs-9">
                                    {{ form.new_password2|add_class:'form-control'|append_attr:'placeholder:Подтвердите пароль' }}
                                    {% if form.new_password2.errors %}
                                        <p class="text-danger">{{ form.new_password2.errors.as_text }}</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-offset-3 col-xs-9">
                                <input type="submit" class="btn btn-primary" name="btn-reg" form="changeUserPassword-form" value="Сохранить изменения">
                                </div>
                            </div>
                        </form>
                        {% if form.non_field_errors %}
                            {% for err in form.non_field_errors %}
                                <div class="alert alert-danger">{{ err }}</div>
                            {% endfor %}
                          {% endif %}
                </div>
            </div>
            {% endblock %}
    </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
{% endblock %}
