{% extends 'educportal/profile_page.html' %}
{% load staticfiles %}
{% load i18n %}
{% load activeurl %}
{% block header %}
    {{ block.super }}
{% endblock %}
{% block header_menu %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
    <div class="row profile">
        {% block leftsidebar %}
            {{ block.super }}
        {% endblock %}
        {% block contentinfo %}
            <div class="col-md-9">
            <div class="profile-content">
                       <div class="col-md-3 col-md-offset-1">
                           <p>Имя:</p>
                       </div>
                       <div class = "col-md-6">
                           <p>{{user.first_name|title}}</p>
                       </div>
                        <div class="col-md-3 col-md-offset-1">
                           <p>Фамилия:</p>
                       </div>
                       <div class = "col-md-6">
                           <p>{{user.last_name|title}}</p>
                       </div>
                        <div class="col-md-3 col-md-offset-1">
                           <p>Email:</p>
                       </div>
                       <div class = "col-md-6">
                           <p>{{user.email}}</p>
                       </div>
                        <div class="col-md-3 col-md-offset-1">
                           <p>Мобильный номер:</p>
                       </div>
                       <div class = "col-md-6">
                           {% if user.phone_number %}
                                <p>{{ user.phone_number }}</p>
                           {% else %}
                                <p>Не назначен</p>
                           {% endif %}
{#                           <p>{{user.phone_number|default_if_none:"Не назначено"}}</p>#}
                       </div>
                        <div class="col-md-3 col-md-offset-1">
                           <p>Степень освоения ВПО:</p>
                       </div>
                       <div class = "col-md-6">
                           <p>{{user.degree_student|title}}</p>
                       </div>
                       <div class="col-md-3 col-md-offset-1">
                           <p>Академическая группа:</p>
                       </div>
                       <div class = "col-md-6">
                           <p>{{user.academ_group_student|title}}</p>
                       </div>
               </div>
            </div>
        {% endblock %}
    </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
{% endblock %}