{% extends 'educportal/extended_content.html' %}
{% load staticfiles %}
{% load i18n %}
{% load activeurl %}
{% block header %}
    {{ block.super }}
{% endblock %}
{% block header_menu %}
    {{ block.super }}
{% endblock %}
{% block content %}
    {<div class="container-fluid">
      <div class="row">
    {% block leftsidebar %}
        {% activeurl %}
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                {% for postlist in post_list %}
                    <li><a href="{{ postlist.get_absolute_url|safe }}">{{ postlist.title }}</a></li>
                {% endfor %}
                {% for testlist in test_list %}
                    <li class ='task'><a href="{{ testlist.get_absolute_url|safe }}">{{ testlist.name }}</a></li>
                {% endfor %}
            </ul>
            </div>
        {% endactiveurl %}
       {% endblock %}
        {% block contentinfo %}
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <p>
                    В текущем разделе пользователь может выбрать пост или тест из навигационного меню, расположенного в левой части веб-страницы.
                 Детальное содержимое выбранного поста или теста отобразится в данном поле. 
                </p>
            </div>
        {% endblock %}
      </div>
    </div>
{% endblock %}
{% block scripts %}
            {{ block.super }}
{% endblock %}