{% extends 'educportal/extended_content.html' %}
{% load staticfiles %}
{% load activeurl %}
{% block header %}
    {{ block.super}}
    <title>Test profile_page</title>
    <link href="{% static "educportal/styles/styles_profile.css"%}" rel="stylesheet">
{% endblock %}
{% block header_menu %}
    {{ block.super }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
    <div class="row profile">
        {% block leftsidebar %}

            <div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
{#				<div class="profile-userpic">#}
{#					<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">#}
{#				</div>#}
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						{{user.first_name|title}} {{user.last_name|title}}
					</div>
					<div class="profile-usertitle-degree">
						{{ user.degree_student }}
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
{#				<div class="profile-userbuttons">#}
{#					<button type="button" class="btn btn-success btn-sm">Follow</button>#}
{#					<button type="button" class="btn btn-danger btn-sm">Message</button>#}
{#				</div>#}
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->

				<div class="profile-usermenu">
                    {% activeurl %}
					<ul class="nav">
						<li>
							<a href="{% url 'personal_info' %}">
							<i class="glyphicon glyphicon-user"></i>
                            Персональная информация</a>
						</li>
						<li>
							<a href="{% url 'change_personal_info' %}">
							<i class="glyphicon glyphicon-pencil"></i>
							Изменить персональные данные </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Учебные успехи </a>
						</li>
					</ul>
                    {% endactiveurl %}
				</div>
				<!-- END MENU -->
			</div>
		</div>
        {% endblock %}
		{% block contentinfo %}
            <div class="col-md-9">
                <div class="profile-content">
                    <p>
                        В данном разделе будет отображаться вся персональная информация пользователя
                    </p>
                </div>
            </div>
        {% endblock %}
	</div>
</div>
{% endblock %}
{{% block scripts %}
     {{ block.super }}
{% endblock %}}